<div class="d-flex justify-content-end">
    <div class="mr-auto p-0 m-2">
            <img src="../../../../assets/images/logo/LogoSample_ByTailorBrandsTry2NoBackground.png" alt="Logo" class="rounded  logo">
    </div>
    <div class="d-flex align-self-center flex-row align-self-start">
            <button routerLink="/home" routerLinkActive="active" class="p-2 m-1 btn btn">Home</button>
            <button routerLink="/projects" class="p-2 m-1 btn btn">Projects</button>
            <button routerLink="/sketchbooks" class="p-2 m-1 btn btn">Sketchbooks</button>
            <button routerLink="/gallery" class="p-2 m-1 btn btn">Gallery</button>
            <button routerLink="/about" routerLinkActive="active" class="p-2 m-1 btn btn">About Me</button>            
            <button routerLink="/contact" class="p-2 m-1 btn btn">Contact</button>
    </div>
</div>