@import '../../../scss/colours';
.element{
    //background-color: #eeeeee;
    //border-bottom: 1px dashed $highlight-color;
}
.logo{
    background: transparent;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navigation-link:active{
    font-size: larger;
    //background-color: darken($color:$primary-background-color, $amount: 25%)
    //background-color: $primary-color;
    //background-color: lighten($color: #f3bb5c, $amount: 25%);
}
.navigation-link:hover{
    font-size: larger;
    //background-color: darken($color:$primary-background-color, $amount: 25%)
    //background-color: $primary-color;
    //background-color: lighten($color: #f3bb5c, $amount: 25%);
}
.btn:hover {
    //background-color: darken($color: #000000, $amount: 0)
    //background-color: #1b3044;
    //background-color: $highlight-color;
    //color: #f5f7fa;
}