<div class="d-flex justify-content-end element">
    <div class="mr-auto p-0 m-2">
            <img src="../../../../assets/images/logo/LogoSample_ByTailorBrandsTry2NoBackground.png" alt="Logo" class="rounded  logo">
    </div>
    <div class="d-flex align-self-center flex-row align-self-start">
                <!-- TODO move into array and onclick event to set different style for active link -->
            <span routerLink="/home" routerLinkActive="active" class="p-2 m-2 navigation-link" >Home</span>
            <span routerLink="/projects" class="p-2 m-2 navigation-link">Projects</span>
            <span routerLink="/sketchbooks" class="p-2 m-2 navigation-link">Sketchbooks</span>
            <span routerLink="/gallery" class="p-2 m-2 navigation-link">Gallery</span>
            <span routerLink="/about" routerLinkActive="active" class="p-2 m-2 navigation-link">About Me</span>            
            <span routerLink="/contact" class="p-2 m-2 navigation-link">Contact</span>
    </div>
</div>